<head>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',
        filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2>Main</h2>
        <form action="/deep" method="get">
            <input type="submit" value="Deepseek search via groq">
        </form>
        <form action="/llama" method="get">
            <input type="submit" value="Llama search via groq">
        </form>
        <form action="/dbs" method="post">
            <input type="submit" value="Predict DBS price">
        </form>
    </div>
</body>
